@using Kendo.Mvc.UI
@using SCM.DataService.DataContext
@model IEnumerable<SCM.Models.Sample>
@{
                                                  
                                                  
    var categoryId = ViewBag.CategoryId;
    var categoryName = (string) ViewBag.CategoryName;
    ViewBag.Title = categoryName;

    Boolean isAdmin = Request.IsAuthenticated;
}


<h1>
    @categoryName
</h1>

@if (isAdmin)
{
    <div class="row">
    <a class="btn btn-dark-light mb-3 mt-3 mr-4" href="@Url.Action("Create", "ChemicalCompositions", new {categoryId = categoryId})">Добавить химический состав</a>    
    <a class="btn btn-dark-light mb-3 mt-3" href="@Url.Action("Create", "Samples", new {categoryId = categoryId})">Добавить новый образец</a>    
    </div>
    
}

<table class="table">
    <tbody>
    @foreach (var sample in Model)
    {
        <tr>
            <td>
                @* 130x130 *@
                <img src="@sample.ImageLink"/>
            </td>

            <td>
                <p >Название: @sample.Title</p>
                <p >Вес: @sample.Weight</p>
                <p >Срок годности: @sample.FormatDate</p>
                <p >Хим. состав @sample.ChemicalCompositionAsString</p>
            </td>

            <td>
                @(Html.Kendo().Chart()
                    .Name($"chart{sample.Id}").Theme("bootstrap")
                    .Series(series =>
                            {

                        var elements = sample.ChemicalComposition.CompositionsElements.Select(e => new { category = $"{e.ChemicalElement.Symbol} - {e.Percentage} %", value = e.Percentage });
                        series.Pie(elements)
                        .Labels(labels =>
                        {
                            labels
                                .Position(ChartPieLabelsPosition.Center).Background("transparent")
                                .Visible(false)
                                .Template("#= kendo.format('{0:P}', percentage)#");
                        });
                    }).ChartArea(c => c.Height(150).Width(300))
                )

            </td>

            @if (isAdmin)
            {
                <td>
                    <a href=' @Url.Action("Delete", "Samples", new {id = sample.Id}) ' class='btn btn-xs m-1'>  <i class='fas fa-trash'></i></a>
                </td>
            }

        </tr>
    }

    </tbody>
</table>