@model SCM.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить данного клиента?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
       
          <dt>
                    @Html.DisplayNameFor(model => model.Organization)
                </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>
        
          <dt>
                    @Html.DisplayNameFor(model => model.Inn)
                </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Inn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Check)
        </dt>
        
        
        <dd>
            @Html.DisplayFor(model => model.Check)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-dark-light" /> |
            @Html.ActionLink("Вернутсья к списку клиентов", "Index")
        </div>
    }
</div>
