@model SCM.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        
        
        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Inn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inn)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Check)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Check)
        </dd>
        
        
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку клиентов", "Index")
</p>
