@using SCM.Models
@using SCM.ViewModels.ChemicalComposion
@model SCM.ViewModels.ChemicalComposion.ChemicalCompositionViewModel

@{
    var category = ViewBag.Category as SampleCategory;
    var baseElements = category.ChemicalElements.Select(s => new ChemicalElementViewModel() {Id = s.Id, Name = s.Symbol, Percentage = 0});
    ViewBag.Title = "Создать новый химический состав";
}

<h2>Химический состав</h2>

<form id="create_chemical_composition_form" data-category-id="@category.Id">
    <div class="form-group">
        <label for="name">Наименование</label>
        <input type="text" class="form-control" id="name" placeholder="Введите название" required="required">
    </div>
    
    @foreach (var el in baseElements)
    {
        <div class="form-group">
            <label for="@el.Name">@el.Name</label>
            <input type="text" class="form-control percentage" id="@el.Name" data-item-id="@el.Id" placeholder="Массовая доля, %" required="">
        </div>
    }
    
    <button type="submit" class="btn btn-dark-light submit">Сохранить</button>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

$("#create_chemical_composition_form").on('submit', function (event) {   
    event.preventDefault();
    var categoryId = $(this).data("categoryId");
    var chemicalElementsViewModels = [];
            
            $('.percentage').each(function( index ) {
              var val = $(this).val();
              var name = $(this).attr('id');
              var id = $(this).data("itemId");
              var obj = {
                  id: id,
                  name: name,
                  percentage: val
              };
              chemicalElementsViewModels.push(obj);
            });
            
            var name = $("#name").val();
    var compositionModel = {
                categoryId: categoryId,
                name: name,
                elements:  chemicalElementsViewModels
            };
    
            $.ajax({
              type: 'POST',
              url: "/ChemicalCompositions/Create",
              data: compositionModel,
              success: function(response) {
               
              },
              dataType: "application/json"
            });
    window.location.href = "/Catalog";
});

</script>



