@using Microsoft.AspNet.Identity
@using TicketStore.DataService
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение TICKET STORE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>

@{
    
    var userId = User.Identity.GetUserId();
    
    var context = AppDataContext.JoinOrOpen();
    var adminRole = context.Roles.FirstOrDefault(r => r.Name.ToLower().Contains("админ"));
    var managerRole = context.Roles.FirstOrDefault(r => r.Name.ToLower().Contains("менеджер"));
    var empRole = context.Roles.FirstOrDefault(r => r.Name.ToLower().Contains("исполнитель"));

    var user = context.Users.FirstOrDefault(u => u.Id.ToString() == userId);

    var isAdmin = adminRole != null &&user != null && user.Roles.FirstOrDefault(role => role.RoleId == adminRole.Id) != null;  
    var isManager = managerRole != null &&user != null && user.Roles.FirstOrDefault(role => role.RoleId == managerRole.Id) != null;  
    var isEmp = empRole != null &&user != null && user.Roles.FirstOrDefault(role => role.RoleId == empRole.Id) != null;  
}

@if (isAdmin)
{
   Html.RenderPartial("NavBars/AdminMenu");
}
else if (isManager)
{
    Html.RenderPartial("NavBars/ManagerMenu");
}
else
{
    Html.RenderPartial("NavBars/EmpMenu");
}

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year – приложение Ticket store</p>
    </footer>
</div>


</body>
</html>
