@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@using SCM.DataService
@using SCM.DataService.DataContext

@{
    var menuLinkclass = "list-group-item list-group-item-action bg-light";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Институт стандартных образцов</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
    <script>
    kendo.culture("ru-RU");
    </script>
</head>
<body>

<div style="display: none">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
        {
            @Html.AntiForgeryToken()
        }
    }
</div>

<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">

        <a href="@(Url.Action("Index", "Home"))">
            <div class="sidebar-heading"> ИСО </div>
        </a>

        <div class="list-group list-group-flush">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Клиенты", "Index", "Clients", new {area = ""}, new {@class = menuLinkclass})
                @Html.ActionLink("Заказы", "Index", "Orders", new {area = ""}, new {@class = menuLinkclass})
            }
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Пользователи", "UsersList", "Admin", new {area = ""}, new {@class = menuLinkclass})
                @Html.ActionLink("Роли пользователей", "RoleList", "Admin", new {area = ""}, new {@class = menuLinkclass})
            }

            @Html.ActionLink("Каталог", "Index", "Catalog", new {area = ""}, new {@class = menuLinkclass})
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Меню</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Меню">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="@(Url.Action("Index", "Home"))">Домашняя страница<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Дополнительно
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            @if (Request.IsAuthenticated)
                            {
                                <a class="dropdown-item" href="@(Url.Action("Index", "Manage"))">Настройки</a>
                            }
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="#">...</a>
                        </div>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Выйти</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <div class="container body-content">

            @RenderBody()

        </div>
        <!-- Footer -->
        <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>
    <!-- /#page-content-wrapper -->
    
    
</div>



@*<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("ИСО", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Пользователи", "UsersList", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Роли пользователей", "RoleList", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            }

            @Html.ActionLink("Образцы", "Index", "Samples", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Клиенты", "Index", "Clients", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Заказы", "Index", "Orders", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Выпуски", "Index", "Releases", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Работники предприятия", "Index", "Workers", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year – приложение Ticket store</p>
    </footer>
</div>*@
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>
