@model SCM.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Заказы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFinished)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-dark-light" /> |
            @Html.ActionLink("Вернуться к списку заказов", "Index")
        </div>
    }
</div>
